extends ./layout

block floats
	div(class="reportMessagesContainer",ng-controller="reportMessage")
		div(class="message container-fluid notification-vd {{message.animationClass}} {{message.class}}",id="{{message.id}}",style="display:{{message.display}};",ng-repeat="message in data.messages", ng-click="data.deleteMessage(message.id)")
			div(class="body")
				div(class="content")
					div(ng-repeat="content in message.content") {{content}}
	div(class="notificationMessagesContainer",ng-controller="notifications")
		ul(class="elementsContainer fadeAndRotateYIn",id="{{element.id}}",ng-repeat="element in data.messages")
			li(class="element")
				i(class="fa fa-bell",style="font-size:20px;margin:auto;")
			li(class="element")
				span {{element.content}}
				span(ng-if="element.href")
					a(ng-href="{{element.href}}",ng-click="data.deleteMessage(element)",style="font-weight:bold;") Ver ahora
			li(class="element",style="padding:0px;margin-left:auto;")
				div(class="iconContainer dangerColor",style="width:25px;height:25px;margin-bottom:auto;",ng-click="data.deleteMessage(element)")
					i(class="fa fa-times",style="font-size:15px;margin:auto;")
	div(class="backScreen",id="forConfirmWindow")
	ul(class="confirmWindow")
		//li(style="padding:20px 0px 10px 0px;")
			img(src="/images/design/vivedog-icon.png")
		li(class="question")
		li(class="container-fluid")
			div(class="row")
				div(class="col-xs-6")
					div(class="confirmButton")
				div(class="col-xs-6")
					div(class="cancelButton")
	div(class="menuContainer" ng-controller="menu")
		div(class="navBarmenu")
			md-nav-bar(class="navbar-main" md-selected-nav-item="page2" nav-bar-aria-label="navigation links" md-stretch-tabs="always")
				md-nav-item(md-nav-href="#" name="page1" flex)
					i(class="material-icons") home
				md-nav-item(md-nav-href="#" name="page2" flex)
					i(class="material-icons") perm_media
				md-nav-item(md-nav-href="/MyProfile" name="page3" flex)
					i(class="material-icons") person
	
		div(class="menuTitleSearchContainer" ng-class="data.open ? 'showMenuContainer' : ''")
			i(class="material-icons iconMenu" ng-click="data.openMenu()") menu
			div(class="title" ) {{data.titleNavigation}}
			i(class="material-icons iconSearch") search

		div(class="sideNavMenuContainer" ng-if="data.open" ng-class="data.open ? 'showMenuContainer' : ''") 
			div(class="sideNav" ng-class="data.open ? 'showMenuContainer' : ''")
				div(class="upSideNav")
					div(class="pictureSideNavContainer" style="background-image:url({{data.user.photo}}); background-size: cover;")
					div(class="nameEmailContainer")
						div(class="nameMenu") {{data.user.name}} {{data.user.lastname}}
						div(class="emailMenu") {{data.user.email}}
				md-divider
				div(class="downSideNav")
					ul
						li
							a(href="/Dashboard")
								i(class="material-icons") home
								div(class="menu-item-sidenav") Dashboard
						li
							a
								i(class="material-icons") perm_media
								div(class="menu-item-sidenav") Recursos
						li(ng-if="data.front.user.teacher")
							a(href="/Register/Course")
								i(class="material-icons") add_box
								div(class="menu-item-sidenav") Registrar curso
						li
							a
								i(class="material-icons") list
								div(class="menu-item-sidenav") Listado de cursos
						li
							a(href="/MyProfile")
								i(class="material-icons") person
								div(class="menu-item-sidenav") Perfil
						md-divider
						li(class="lastItemSideNav")
							a(href="/Logout")
								div(class="menu-item-sidenav") Cerrar sesión
			div(class="backContainer" ng-click="data.closeMenu()" ng-class="data.open ? 'showMenuContainer' : ''")
	
block body
	section(class="viewsContainer")
		section(class="view" id="dashboard" ng-if="data.views.dashboard.active",ng-class="data.views.dashboard.active ? 'fadeInFromTop' : ''")
			div(ng-controller="dashboard")
				div(class="courses col-md-12 row")
					h1 Listas 
					div(ng-if='data.front.shows.elements.length > 0')
						div(ng-repeat='element in data.front.shows.elements')
							div {{element.name}}
							br
