extends ./layout

block floats
	div(class="reportMessagesContainer",ng-controller="reportMessage")
		div(class="message container-fluid notification-vd {{message.animationClass}} {{message.class}}",id="{{message.id}}",style="display:{{message.display}};",ng-repeat="message in data.messages", ng-click="data.deleteMessage(message.id)")
			div(class="body")
				div(class="content")
					div(ng-repeat="content in message.content") {{content}}
	div(class="notificationMessagesContainer",ng-controller="notifications")
		ul(class="elementsContainer fadeAndRotateYIn",id="{{element.id}}",ng-repeat="element in data.messages")
			li(class="element")
				i(class="fa fa-bell",style="font-size:20px;margin:auto;")
			li(class="element")
				span {{element.content}}
				span(ng-if="element.href")
					a(ng-href="{{element.href}}",ng-click="data.deleteMessage(element)",style="font-weight:bold;") Ver ahora
			li(class="element",style="padding:0px;margin-left:auto;")
				div(class="iconContainer dangerColor",style="width:25px;height:25px;margin-bottom:auto;",ng-click="data.deleteMessage(element)")
					i(class="fa fa-times",style="font-size:15px;margin:auto;")
	div(class="backScreen",id="forConfirmWindow")
	ul(class="confirmWindow")
		//li(style="padding:20px 0px 10px 0px;")
			img(src="/images/design/vivedog-icon.png")
		li(class="question")
		li(class="container-fluid")
			div(class="row")
				div(class="col-xs-6")
					div(class="confirmButton")
				div(class="col-xs-6")
					div(class="cancelButton")
	div(class="menuContainer" ng-controller="menu")
		div(class="navBarmenu")
			md-nav-bar(class="navbar-main" md-selected-nav-item="page2" nav-bar-aria-label="navigation links" md-stretch-tabs="always")
				md-nav-item(md-nav-href="#" name="page1" flex)
					i(class="material-icons") home
				md-nav-item(md-nav-href="#" name="page2" flex)
					i(class="material-icons") perm_media
				md-nav-item(md-nav-href="/MyProfile" name="page3" flex)
					i(class="material-icons") person
	
		div(class="menuTitleSearchContainer" ng-class="data.open ? 'showMenuContainer' : ''")
			i(class="material-icons iconMenu" ng-click="data.openMenu()") menu
			div(class="title" ) {{data.titleNavigation}}
			i(class="material-icons iconSearch") search

		div(class="sideNavMenuContainer" ng-if="data.open" ng-class="data.open ? 'showMenuContainer' : ''") 
			div(class="sideNav" ng-class="data.open ? 'showMenuContainer' : ''")
				div(class="upSideNav")
					div(class="pictureSideNavContainer" style="background-image:url({{data.user.photo}}); background-size: cover;")
					div(class="nameEmailContainer")
						div(class="nameMenu") {{data.user.name}} {{data.user.lastname}}
						div(class="emailMenu") {{data.user.email}}
				md-divider
				div(class="downSideNav")
					ul
						li
							a(href="/Dashboard")
								i(class="material-icons") home
								div(class="menu-item-sidenav") Dashboard
						li
							a
								i(class="material-icons") perm_media
								div(class="menu-item-sidenav") Recursos
						li(ng-if="data.front.user.teacher")
							a(href="/Register/Course")
								i(class="material-icons") add_box
								div(class="menu-item-sidenav") Registrar curso
						li
							a
								i(class="material-icons") list
								div(class="menu-item-sidenav") Listado de cursos
						li
							a(href="/MyProfile")
								i(class="material-icons") person
								div(class="menu-item-sidenav") Perfil
						md-divider
						li(class="lastItemSideNav")
							a(href="/Logout")
								div(class="menu-item-sidenav") Cerrar sesión
			div(class="backContainer" ng-click="data.closeMenu()" ng-class="data.open ? 'showMenuContainer' : ''")
	
block body
	section(class="viewsContainer")
		section(class="view" id="dashboard" ng-if="data.views.dashboard.active",ng-class="data.views.dashboard.active ? 'fadeInFromTop' : ''")
			div(ng-controller="dashboard")

				md-tabs(md-stretch-tabs="never" class="coursesList" reverse-style="true" md-dynamic-height ng-if="data.front.user.student")
					md-tab(class="tab-item-courses md-subhead")
						md-tab-label(class="md-subhead labelTab") mis cursos
						md-tab-body
							md-content(class="md-padding")
								div(class="course col-md-4" ng-if="data.front.courses.elements.length > 0" ng-repeat="element in data.front.courses.elements")
									md-card(class="container_card")
										div(class="inner-card" style="background-image:url({{element.period.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.period.id)")
											div(class="header-card")
												div(class="avatar-teacher" style="background-image:url({{element.period.teacher.photo}}); background-size: cover")
												div(class="info_teacher_card")
													span(class="name_teacher_card md-subhead") {{element.period.teacher.name}} {{element.period.teacher.lastname}}
												div(class="menu-card-options state")
													span(ng-if="element.period.state=='active'" class="inscripcion") Inscrito
													span(ng-if="element.period.state=='progress' || element.period.state=='feedback'" class="progreso") En progreso
													span(ng-if="element.period.state=='finish'" class="terminado") Completado
											div(class="title-date-course")
												a(href="/Course/Private/{{element.period.course.id}}")
													div(class="title-course md-title") {{element.period.course.name}}
												div(class="date-course") 
													i(class="material-icons md-caption calendar_icon") today
													div(class="date-course-value md-caption") {{element.shedule.shedule[0].date | date: "dd/MM/yyyy"}}
								div(class="course" ng-if="data.front.courses.elements.length == 0")
									h1 No estas en ningun curso, busca uno para ti
					md-tab(class="tab-item-courses md-subhead")
						md-tab-label(class="md-subhead labelTab") tal vez te interesen
						md-tab-body
							md-content(class="md-padding")
								div(class="course col-md-4" ng-if="data.front.courses_interes_student.elements.length > 0" ng-repeat="element in data.front.courses_interes_student.elements")
									md-card(class="container_card")
										div(class="inner-card" style="background-image:url({{element.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.id)")
											div(class="header-card")
												div(class="avatar-teacher" style="background-image:url({{element.teacher.photo}}); background-size: cover")
												div(class="info_teacher_card")
													span(class="name_teacher_card md-subhead") {{element.teacher.name}} {{element.teacher.lastname}}
												//div(class="menu-card-options")
											div(class="title-date-course")
												a(href="/Course/Private/{{element.id}}")
													div(class="title-course md-title") {{element.course.name}}
												div(class="date-course") 
													i(class="material-icons md-caption calendar_icon") today
													div(class="date-course-value md-caption") {{element.schedule[0].date | date: "dd/MM/yyyy"}}
								div(class="course" ng-if="data.front.courses_interes_student.elements.length == 0")
									h1 No estas en ningun curso, busca uno para ti
					md-tab(class="tab-item-courses md-subhead")
						md-tab-label(class="md-subhead labelTab") todos
						md-tab-body
							md-content(class="md-padding")
								div(class="course col-md-4" ng-if="data.front.courses_active.elements.length > 0" ng-repeat="element in data.front.courses_active.elements")
									
									md-card(class="container_card")
										a(href="/Course/Private/{{element.period.id}}")
											div(class="inner-card" style="background-image:url({{element.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.id)")
												div(class="header-card")
													div(class="avatar-teacher" style="background-image:url({{element.teacher.photo}}); background-size: cover")
													div(class="info_teacher_card")
														span(class="name_teacher_card md-subhead") {{element.teacher.name}} {{element.teacher.lastname}}
													//div(class="menu-card-options")
														
												div(class="title-date-course")
													a(href="/Course/Private/{{element.id}}")
														div(class="title-course md-title") {{element.course.name}}
													div(class="date-course") 
														i(class="material-icons md-caption calendar_icon") today
														div(class="date-course-value md-caption") {{element.schedule[0].date | date: "dd/MM/yyyy"}}
								div(class="course" ng-if="data.front.courses_active.elements.length == 0")
									h1 No estas en ningun curso, busca uno para ti
				md-tabs(md-stretch-tabs="never" class="coursesList" reverse-style="true" md-dynamic-height ng-if="data.front.user.teacher")
					md-tab(class="tab-item-courses md-subhead")
						md-tab-label(class="md-subhead labelTab") Cursos activos
						md-tab-body
							md-content(class="md-padding")
								div(class="course col-md-4" ng-if="data.front.courses_active_teacher.elements.length > 0" ng-repeat="element in data.front.courses_active_teacher.elements")
									md-card(class="container_card")
										div(class="inner-card" style="background-image:url({{element.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.id)")
											div(class="header-card")
												div(class="avatar-teacher")
												div(class="menu-card-options state")
													span(ng-if="element.state=='active'" class="inscripcion") En inscripción
													span(ng-if="element.state=='progress' || element.state=='feedback'" class="progreso") En progreso
													span(ng-if="element.state=='finish'" class="terminado") Completado
											div(class="title-date-course")
												div(class="title-course md-title") {{element.course.name}}
												div(class="date-course") 
													i(class="material-icons md-caption calendar_icon") today
													div(class="date-course-value md-caption") {{element.schedule[0].date | date: "dd/MM/yyyy"}}
								div(class="course" ng-if="data.front.courses_active_teacher.elements.length == 0")
									h1 No tienes cursos asignados, busca una oportunidad de curso
					md-tab(class="tab-item-courses md-subhead")
						md-tab-label(class="md-subhead labelTab") cursos en proceso
						md-tab-body
							md-content(class="md-padding")
								div(class="course col-md-4" ng-if="data.front.courses_progress_teacher.elements.length > 0" ng-repeat="element in data.front.courses_progress_teacher.elements")
									md-card(class="container_card")
										div(class="inner-card" style="background-image:url({{element.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.id)")
											div(class="header-card")
												div(class="avatar-teacher" style="background-image:url({{element.teacher.photo}}); background-size: cover")
												div(class="menu-card-options state")
													span(ng-if="element.state=='active'" class="inscripcion") En inscripción
													span(ng-if="element.state=='progress' || element.state=='feedback'" class="progreso") En progreso
													span(ng-if="element.state=='finish'" class="terminado") Completado
											div(class="title-date-course")
												div(class="title-course md-title") {{element.course.name}}
												div(class="date-course") 
													i(class="material-icons md-caption calendar_icon") today
													div(class="date-course-value md-caption") {{element.schedule[0].date| date: "dd/MM/yyyy"}}
								div(class="course" ng-if="data.front.courses_progress_teacher.elements.length == 0")
									h1 No tienes cursos asignados, busca una oportunidad de curso
					md-tab(class="tab-item-courses md-subhead")
						md-tab-label(class="md-subhead labelTab") cursos cmpletados
						md-tab-body
							md-content(class="md-padding")
								div(class="course col-md-4" ng-if="data.front.courses_finish_teacher.elements.length > 0" ng-repeat="element in data.front.courses_finish_teacher.elements")
									md-card(class="container_card")
										div(class="inner-card" style="background-image:url({{element.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.id)")
											div(class="header-card")
												div(class="avatar-teacher" style="background-image:url({{element.teacher.photo}}); background-size: cover")
												div(class="menu-card-options state")
													span(ng-if="element.state=='active'" class="inscripcion") En inscripción
													span(ng-if="element.state=='progress' || element.state=='feedback'" class="progreso") En progreso
													span(ng-if="element.state=='finish'" class="terminado") Completado
											div(class="title-date-course")
												div(class="title-course md-title") {{element.course.name}}
												div(class="date-course") 
													i(class="material-icons md-caption calendar_icon") today
													div(class="date-course-value md-caption") {{element.schedule[0].date| date: "dd/MM/yyyy"}}
								div(class="course" ng-if="data.front.courses_finish_teacher.elements.length == 0")
									h1 No tienes cursos asignados, busca una oportunidad de curso
				div(class="courses col-md-12 row" ng-if="data.front.user.admin")
					div(class="col-md-3 panel-izq")
						div(class="col-md-12 coinsSettings")
							span(class="title") Costos
							span
								md-button(class="md-fab md-mini button-edit" ng-click="data.front.settings.form.edit()" ng-if="!data.front.settings.edit")
									md-icon(class="material-icons") create
							div(class="datos" ng-if="!data.front.settings.edit")
								div(class="data")
									label(class="label_title") Costo pregunta
									<br>
									label(class="info") {{data.front.settings.element.coinsQuestion}} monedas
								div(class="data")
									label(class="label_title") Costo respuesta
									<br>
									label(class="info") {{data.front.settings.element.coinsAnswer}} monedas
								div(class="data")
									label(class="label_title") Monedas por hora
									<br>
									label(class="info") {{data.front.settings.element.coinsHour}} monedas
							form(class="container-form" ng-submit="data.front.form.submit()" ng-if="data.front.settings.edit")
								md-input-container(class="md-block")
									input(type="number" id="{{data.front.settings.form.fields.coinsQuestion.id}}" ng-model="data.front.settings.form.fields.coinsQuestion.value" placeholder="Costo pregunta" style="width: 90%")
								md-input-container(class="md-block")
									input(type="number" id="{{data.front.settings.form.fields.coinsAnswer.id}}" ng-model="data.front.settings.form.fields.coinsAnswer.value" placeholder="Costo respuesta" style="width: 90%")
								md-input-container(class="md-block")
									input(type="number" id="{{data.front.settings.form.fields.coinsHour.id}}" ng-model="data.front.settings.form.fields.coinsHour.value" placeholder="Monedas por horas" style="width: 90%")
								div(class="botones")
									div(class="boton")
										md-button(class="md-raised md-primary boton" ng-click="data.front.settings.form.submit()") Guardar
									div(class="boton")
										md-button(class="md-raised boton" ng-click="data.front.settings.edit=false") Cancelar
								button(class="hidden")
					div(class="col-md-9")
						span(class="container-button")
							md-button(class="md-fab md-mini button-edit" ng-if="!data.front.settings.edit" href="/Register/Course")
								md-tooltip(md-direction="top") Agregar Curso
								md-icon(class="material-icons") add
						md-tabs(md-stretch-tabs="never" class="coursesList" reverse-style="true" md-dynamic-height)
							md-tab(class="tab-item-courses md-subhead")
								md-tab-label(class="md-subhead labelTab") Cursos registrados
								md-tab-body
									md-content(class="md-padding")
										div(class="course col-md-4" ng-repeat="element in data.front.courses.elements")
											md-card
												div(style="background-image:url({{element.picture}}); width:100%; height:200px; background-size: 100% 100%;" class="md-card-image" alt="Washed Out")
												md-card-title
													md-card-title-text
														span(class="md-headline") {{element.name}}
													md-menu(md-offset="0 -7")
														md-button(aria-label="Open demo menu" class="md-icon-button md-primary" ng-click="$mdMenu.open($event)")
															i(class="material-icons") more_vert
														md-menu-content(width="3")
															md-menu-item
																a(href="/Course/Private/{{element.id}}")
																	span(md-menu-align-target) Ver detalle
															md-menu-item
																a(href="/Course/Activate/{{element.id}}")
																	span(md-menu-align-target) Activar
															md-menu-item
																a
																	span(md-menu-align-target) Editar
															md-menu-item
																a
																	span(md-menu-align-target) Eliminar
							md-tab(class="tab-item-courses md-subhead")
								md-tab-label(class="md-subhead labelTab") Cursos activados
								md-tab-body
									md-content(class="md-padding")
										div(class="course col-md-4" ng-if="data.front.courses_admin_active.elements.length > 0" ng-repeat="element in data.front.courses_admin_active.elements")		
											md-card(class="container_card")
												a(href="/Course/Private/{{element.period.id}}")
													div(class="inner-card" style="background-image:url({{element.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.id)")
														div(class="header-card")
															div(class="avatar-teacher" style="background-image:url({{element.teacher.photo}}); background-size: cover")
															div(class="info_teacher_card")
																span(class="name_teacher_card md-subhead") {{element.teacher.name}} {{element.teacher.lastname}}
															div(class="menu-card-options")
														div(class="title-date-course")
															a(href="/Course/Private/{{element.id}}")
																div(class="title-course md-title") {{element.course.name}}
															div(class="date-course") 
																i(class="material-icons md-caption calendar_icon") today
																div(class="date-course-value md-caption") {{element.schedule[0].date | date: "dd/MM/yyyy"}}
										div(class="course" ng-if="data.front.courses_admin_active.elements.length == 0")
											h1 No hay cursos activados
							md-tab(class="tab-item-courses md-subhead")
								md-tab-label(class="md-subhead labelTab") cursos en proceso
								md-tab-body
									md-content(class="md-padding")
										div(class="course col-md-4" ng-if="data.front.courses_progress_admin.elements.length > 0" ng-repeat="element in data.front.courses_progress_admin.elements")
											md-card(class="container_card")
												div(class="inner-card" style="background-image:url({{element.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.id)")
													div(class="header-card")
														div(class="avatar-teacher" style="background-image:url({{element.teacher.photo}}); background-size: cover")
														div(class="menu-card-options state")
															span(ng-if="element.state=='active'" class="inscripcion") En inscripción
															span(ng-if="element.state=='progress' || element.state=='feedback'" class="progreso") En progreso
															span(ng-if="element.state=='finish'" class="terminado") Completado
													div(class="title-date-course")
														div(class="title-course md-title") {{element.course.name}}
														div(class="date-course") 
															i(class="material-icons md-caption calendar_icon") today
															div(class="date-course-value md-caption") {{element.schedule[0].date| date: "dd/MM/yyyy"}}
										div(class="course" ng-if="data.front.courses_progress_admin.elements.length == 0")
											h1 No hay cursos en progreso
							md-tab(class="tab-item-courses md-subhead")
								md-tab-label(class="md-subhead labelTab") cursos cmpletados
								md-tab-body
									md-content(class="md-padding")
										div(class="course col-md-4" ng-if="data.front.courses_finish_admin.elements.length > 0" ng-repeat="element in data.front.courses_finish_admin.elements")
											md-card(class="container_card")
												div(class="inner-card" style="background-image:url({{element.course.picture}}); background-size: cover;" ng-click="data.front.redirect('/Course/Private/'+element.id)")
													div(class="header-card")
														div(class="avatar-teacher" style="background-image:url({{element.teacher.photo}}); background-size: cover")
														div(class="menu-card-options state")
															span(ng-if="element.state=='active'" class="inscripcion") En inscripción
															span(ng-if="element.state=='progress' || element.state=='feedback'" class="progreso") En progreso
															span(ng-if="element.state=='finish'" class="terminado") Completado
													div(class="title-date-course")
														div(class="title-course md-title") {{element.course.name}}
														div(class="date-course") 
															i(class="material-icons md-caption calendar_icon") today
															div(class="date-course-value md-caption") {{element.schedule[0].date| date: "dd/MM/yyyy"}}
										div(class="course" ng-if="data.front.courses_finish_admin.elements.length == 0")
											h1 No hay cursos completados
		section(class="view" id="teacher_register_profile" ng-if="data.views.teacher_register_profile.active",ng-class="data.views.teacher_register_profile.active ? 'fadeInFromTop' : ''")
			div(ng-controller="registerTeacherProfile")
				div(class="form-load" ng-if="data.front.form.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="form-step formulario" ng-if="data.front.form.step==1")
					div(class='title') Selecciona tu(s) área(s) de interés
					div(class="categories")
						div(class="categorie col-xs-12 col-md-3 col-lg-3" ng-repeat="element in data.front.categories.elements")
							md-checkbox(id="{{element.id}}" style="clear: both" ng-model="element.check" aria-label="Checkbox 1" ng-change="data.front.form.step1.change(element)" class="mdCheckbox" ng-class="element.check ? 'checked' : ''") 
								i(class="material-icons") {{element.icon}}
								span {{element.name}}
					div(class="botones")
						md-button(class="md-raised md-primary boton boton-next" ng-click="data.front.form.next(2)") Siguiente
				div(class="form-step formulario" ng-if="data.front.form.step==2")
					div(class='title') ¿Qué tipo de Mentor eres?
					md-radio-group(class="categories" ng-model="data.front.form.step2.type")
						div(class="categorie" ng-repeat="element in data.front.types.elements")
							md-radio-button(style="clear: both" value="{{element.id}}" class="md-primary") {{element.name}}
					div(class="botones-step2")
						md-button(class="md-raised boton boton-previus" ng-click="data.front.form.previus(1)") Anterior
						md-button(class="md-raised md-primary boton boton-finish" ng-click="data.front.form.next(3)") Finalizar
		section(class="view" id="student_register_category" ng-if="data.views.student_register_category.active",ng-class="data.views.student_register_category.active ? 'fadeInFromTop' : ''")
			div(ng-controller="studentRegisterCategory")
				div(class="form-load" ng-if="data.front.form.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="form-step formulario" ng-if="data.front.form.step==1")
					div(class='title') Selecciona tu(s) área(s) de interés
					div(class="categories")
						div(class="categorie col-xs-12 col-md-3 col-lg-3" ng-repeat="element in data.front.categories.elements")
							md-checkbox(id="{{element.id}}" style="clear: both" ng-model="element.check" aria-label="Checkbox 1" ng-change="data.front.form.step1.change(element)" class="mdCheckbox" ng-class="element.check ? 'checked' : ''")
								i(class="material-icons") {{element.icon}}
								span {{element.name}}
					div(class="botones")
						md-button(class="md-raised md-primary boton boton-next" ng-click="data.front.form.next(2)") Finalizar
		section(class="view" id="teacher_my_profile" ng-if="data.views.teacher_my_profile.active",ng-class="data.views.teacher_my_profile.active ? 'fadeInFromTop' : ''")
			div(ng-controller="teacherProfile")
				div(class="form-load" ng-if="data.front.form.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="formulario col-md-8 col-md-push-2")
					div(class='title') Llena tu perfil
					form(class="container-form")
						input(type="file",class="hidden",id="{{data.front.form.fields.photo.id}}",position="{{$index}}",onchange="angular.element(this).scope().data.front.form.fields.photo.upload(this.files)")
						div(class="image imagePet")
							div(ng-click="data.front.form.fields.photo.changeImage()",ng-if="data.front.form.fields.photo.value.length < 1")
								div(class="photo")
									span
										i(class="fa fa-camera")
							div( ng-repeat="image in data.front.form.fields.photo.value")
								div(id="{{image.id}}",style="background-image:url({{image.value}});",class="imagen",ng-mouseover="image.mouseover = true",ng-mouseleave="image.mouseover = false")
									div(class="deleteContainer",ng-click="image.remove($index)")
										span
											i(class="fa fa-trash icon",ng-class="image.mouseover ? 'fadeInFromTop' : ''")
											div Cambiar imagen
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.name.id}}" ng-model="data.front.form.fields.name.value" placeholder="Nombre" style="width: 90%")
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.lastname.id}}" ng-model="data.front.form.fields.lastname.value" placeholder="Apellido" style="width: 90%")
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.phone.id}}" ng-model="data.front.form.fields.phone.value" placeholder="Teléfono" style="width: 90%")
						md-input-container(class="md-block")
							input(mdc-datetime-picker="" date="true" time="false" type="text" id="{{data.front.form.fields.birthdate.id}}" placeholder="Fecha de nacimiento" ng-model="data.front.form.fields.birthdate.value" class=" md-input" readonly="readonly" format="DD-MM-YYYY")
						
						div(class="subtitle") Tu identificación
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.cedula.id}}" ng-model="data.front.form.fields.cedula.value" placeholder="Cédula" style="width: 90%")
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.rif.id}}" ng-model="data.front.form.fields.rif.value" placeholder="Rif" style="width: 90%")
						div(class="line-separator")
						div(class="subtitle") Deja una Bio para tu perfil
						md-input-container(class="md-block")
							textarea(rows="4" id="{{data.front.form.fields.comentary.id}}" ng-model="data.front.form.fields.comentary.value" placeholder="Sobre mi" style="width: 90%")
						div(class="line-separator")
						md-button(class="md-raised md-primary boton" ng-click="data.front.form.submit()") Guardar
						button(class="hidden")
		section(class="view" id="student_my_profile" ng-if="data.views.student_my_profile.active",ng-class="data.views.student_my_profile.active ? 'fadeInFromTop' : ''")
			div(ng-controller="studentProfile")
				div(class="form-load" ng-if="data.front.form.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="formulario col-md-8 col-md-push-2")
					div(class='title') Llena tu perfil
					form(class="container-form")
						input(type="file",class="hidden",id="{{data.front.form.fields.photo.id}}",position="{{$index}}",onchange="angular.element(this).scope().data.front.form.fields.photo.upload(this.files)")
						div(class="image imagePet")
							div(ng-click="data.front.form.fields.photo.changeImage()",ng-if="data.front.form.fields.photo.value.length < 1")
								div(class="photo")
									span
										i(class="fa fa-camera")
							div( ng-repeat="image in data.front.form.fields.photo.value")
								div(id="{{image.id}}",style="background-image:url({{image.value}});",class="imagen",ng-mouseover="image.mouseover = true",ng-mouseleave="image.mouseover = false")
									div(class="deleteContainer",ng-click="image.remove($index)")
										span
											i(class="fa fa-trash icon",ng-class="image.mouseover ? 'fadeInFromTop' : ''")
											div Cambiar imagen
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.name.id}}" ng-model="data.front.form.fields.name.value" placeholder="Nombre" style="width: 90%")
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.lastname.id}}" ng-model="data.front.form.fields.lastname.value" placeholder="Apellido" style="width: 90%")
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.phone.id}}" ng-model="data.front.form.fields.phone.value" placeholder="Teléfono" style="width: 90%")
						md-input-container(class="md-block")
							input(mdc-datetime-picker="" date="true" time="false" type="text" id="{{data.front.form.fields.birthdate.id}}" placeholder="Fecha de nacimiento" ng-model="data.front.form.fields.birthdate.value" class=" md-input" readonly="readonly" format="DD-MM-YYYY")
						div(class="subtitle") Tu identificación
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.cedula.id}}" ng-model="data.front.form.fields.cedula.value" placeholder="Cédula" style="width: 90%")
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.rif.id}}" ng-model="data.front.form.fields.rif.value" placeholder="Rif" style="width: 90%")
						div(class="line-separator")
						div(class="subtitle") Deja una Bio para tu perfil
						md-input-container(class="md-block")
							textarea(rows="4" id="{{data.front.form.fields.comentary.id}}" ng-model="data.front.form.fields.comentary.value" placeholder="Sobre mi" style="width: 90%")
						div(class="line-separator")

						md-button(class="md-raised md-primary boton" ng-click="data.front.form.submit()") Guardar
						button(class="hidden")
		section(class="view" id="register_course" ng-if="data.views.register_course.active",ng-class="data.views.register_course.active ? 'fadeInFromTop' : ''")
			div(ng-controller="registerCourse")
				div(class="form-load" ng-if="data.front.form.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="formulario col-md-8 col-md-push-2")
					div(class='title') Registro de curso
					div(class="container-form form-step" ng-if="data.front.form.step==1")
						md-input-container(class="md-block")
							input(type="text" id="{{data.front.form.fields.name.id}}" placeholder="Nombre del curso" style="width: 90%" ng-model="data.front.form.fields.name.value")

						input(type="file",class="hidden",id="{{data.front.form.fields.photo.id}}",position="{{$index}}",onchange="angular.element(this).scope().data.front.form.fields.photo.upload(this.files)")
						div(class="image imagePet")
							div(ng-click="data.front.form.fields.photo.changeImage()",ng-if="data.front.form.fields.photo.value.length < 1")
								div(class="photo")
									span
										i(class="fa fa-camera")
							div( ng-repeat="image in data.front.form.fields.photo.value")
								div(id="{{image.id}}",style="background-image:url({{image.value}});",class="imagen",ng-mouseover="image.mouseover = true",ng-mouseleave="image.mouseover = false")
									div(class="deleteContainer",ng-click="image.remove($index)")
										span
											i(class="fa fa-trash icon",ng-class="image.mouseover ? 'fadeInFromTop' : ''")
											div Cambiar imagen				
						div(class="editor" id="{{data.front.form.fields.description.id}}" )
							trix-editor(angular-trix ng-model="data.front.form.fields.description.value" placeholder="Descripcion del curso" style="width: 90%" class="trix-content")
						div(class="botones-step2")
							md-button(class="md-raised boton boton-previus" ng-click="data.front.form.previus(0)") Cancelar
							md-button(class="md-raised md-primary boton boton-finish" ng-click="data.front.form.next(2)") Siguiente
					div(class="container-form form-step" ng-if="data.front.form.step==2")
						div(class="categories")
							div(class='title') Categoria de curso
							div(class="categorie" ng-repeat="element in data.front.categories.elements")
								md-checkbox(id="{{element.id}}" style="clear: both" ng-model="element.check" aria-label="Checkbox 1" ng-change="data.front.categories.change(element)") {{element.name}}
						div(class='title') Modalidad de curso
						md-radio-group(class="types" ng-model="data.front.form.fields.type.value" id="{{data.front.form.fields.type.id}}")
							div(class="type" ng-repeat="element in data.front.types.elements")
								md-radio-button(style="clear: both" value="{{element.id}}" class="md-primary") {{element.name}}
						div(class="botones-step2")
							md-button(class="md-raised boton boton-previus" ng-click="data.front.form.previus(1)") Anterior
							md-button(class="md-raised md-primary boton boton-finish" ng-click="data.front.form.next(3)") Siguiente
					div(class="container-form form-step" ng-if="data.front.form.step==3")
						div(class="editor" id="{{data.front.form.fields.question_student.id}}")
							trix-editor(angular-trix ng-model="data.front.form.fields.question_student.value" placeholder="¿Qué se lleva el alumno?" style="width: 90%" class="trix-content")
						div(class="editor" id="{{data.front.form.fields.question_addressed.id}}")
							trix-editor(angular-trix ng-model="data.front.form.fields.question_addressed.value" placeholder="¿A quién está dirigido?" style="width: 90%" class="trix-content")
						div(class="editor" id="{{data.front.form.fields.methodology.id}}")
							trix-editor(angular-trix ng-model="data.front.form.fields.methodology.value" placeholder="Metodología" style="width: 90%" class="trix-content")
						div(class="editor" id="{{data.front.form.fields.recommendations.id}}")
							trix-editor(angular-trix ng-model="data.front.form.fields.recommendations.value" placeholder="Recomendaciones" style="width: 90%" class="trix-content")
						div(class="botones-step2")
							md-button(class="md-raised boton boton-previus" ng-click="data.front.form.previus(2)") Anterior
							md-button(class="md-raised md-primary boton boton-finish" ng-click="data.front.form.submit()") Finalizar
							button(class="hidden")
		section(class="view" id="activate_course" ng-if="data.views.activate_course.active",ng-class="data.views.activate_course.active ? 'fadeInFromTop' : ''")
			div(ng-controller="activateCourse")
				div(class="backScreen-window" ng-if="data.front.teacher.active" ng-click="data.front.teacher.active=false")
				div(class="win" ng-if="data.front.teacher.active")
					div(class="windowModal")
						div(class="title") Buscar profesor
						div(class="window-container col-md-12")
							div(class="tabla col-md-12 row")
								div(class="col-md-12 header-table row")
									div(class="col-md-4 title-header") Nombre y Apellido
									div(class="col-md-2 title-header") Identificacion
									div(class="col-md-3 title-header") Especialiadades
									div(class="col-md-3 title-header") Seleccionar
								div(class="body-table col-md-12 row")
									div(class="row-table" ng-repeat="element in data.front.teacher.elements")
										div(class="col-md-4 col-table") {{element.name}} {{element.lastname}}
										div(class="col-md-2 col-table") {{element.cedula}}
										div(class="col-md-3 col-table")
											div(ng-repeat="cat in element.categories_teacher") {{cat.category.name}}
										div(class="col-md-3 col-table")
											md-button(class="md-raised md-primary boton boton-finish" ng-click="data.front.teacher.select(element)") Elegir			
				div(class="form-load" ng-if="data.front.form.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="formulario col-md-8 col-md-push-2")
					div(class="course")
						div(class="subtitle") Datos del curso
						div(class="img")
							div(class="image" style="background-image: url({{data.front.course.picture}}); width: 200px; height: 150px; background-size: 100% 100%;")
						div(class="info")
							div(class="field")
								label Nombre:
								span {{data.front.course.name}}
							div(class="field")
								label Modalidad:
								span {{data.front.course.type.name}}
							div(class="field")
								label Categorias:
								span(ng-repeat="ele in data.front.course.categories" class="category") {{ele.category.name}}
					div(class='title') Activación de curso
					div(class="container-form col-md-12")
						md-input-container(class="col-md-6" id="{{data.front.form.fields.days.id}}")
							input(ng-change="data.front.form.change_days()" type="number" placeholder="Cantidad de días" ng-model="data.front.form.fields.days.value" class="md-input")
						div(class="col-md-12" ng-if="data.front.form.schedule.length>0")
							div(class="subtitle") Horario
							div(ng-repeat="element in data.front.form.schedule" class="col-md-12")
								md-input-container(class="col-md-6" id="{{element.date_init.id}}")
									input(ng-change="element.change($index)" mdc-datetime-picker="" date="true" time="true" type="text" short-time="true" placeholder="Fecha y hora inicio" min-date="element.date_init.min" ng-model="element.date_init.value" class="md-input" format="DD-MM-YYYY hh:mm a")
								div(class="col-md-6" id="{{element.date_finish.id}}")
									div(class="data")
										label(class="label_title") Hora fin
										<br>
										label(class="info") {{element.date_finish.value | date:'hh:mm a'}}
									
						md-input-container(class="col-md-6" id="{{data.front.form.fields.cost.id}}" )
							input(type="number" step="0.01" placeholder="Costo de inspcripcion" ng-model="data.front.form.fields.cost.value")
						md-input-container(class="col-md-6" id="{{data.front.form.fields.address.id}}")
							textarea(placeholder="Direccion" ng-model="data.front.form.fields.address.value")
						div(class="teacher col-md-12")
							div(class="label-title") Datos del Profesor
							div(class="boton nuevo")
								md-button(class="md-raised md-primary boton" ng-click="data.front.teacher.active=true") Buscar
							div(class="teacher-info col-md-12 row")
								md-input-container(class="col-md-6")
									span Nombre y Apellido: {{data.front.teacher.selected.name}} {{data.front.teacher.selected.lastname}}
								md-input-container(class="col-md-6")
									span Identificacion: 
									span(ng-if="data.front.teacher.selected.cedula!=null") {{data.front.teacher.selected.cedula}}
									<br ng-if="data.front.teacher.selected.rif!=null && data.front.teacher.selected.cedula!=null">
									span(ng-if="data.front.teacher.selected.rif!=null") {{data.front.teacher.selected.rif}}
								md-input-container(class="col-md-6")
									span Especialidades:
									li(ng-repeat="element in data.front.teacher.selected.categories_teacher") {{element.category.name}}
					div(class="botones-step2")
						md-button(class="md-raised boton boton-previus" ng-click="data.front.form.cancel()") Cancelar
						md-button(class="md-raised md-primary boton boton-finish" ng-click="data.front.form.submit()") Guardar
						button(class="hidden")
		section(class="view" id="payment_course" ng-if="data.views.payment_course.active",ng-class="data.views.payment_course.active ? 'fadeInFromTop' : ''")
			div(ng-controller="paymentEnrollment" class="col-md-12 detailCourseArea col-xs-12")
				div(class="form-load" ng-if="data.front.form.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="modalPaymentEmpty" ng-if="data.front.enrollment.payment_state==true")
					div(class="containerPayment")
						p Ya se ha procesado un pago para este curso.
						a(href="/Dashboard" class="md-raised md-button") Aceptar
				div(class="modalPayment" ng-if="data.front.enrollment.payment_state==false")
					div(class="containerPayment")
						div(class="cupos")
							div
								span(class="label-span") Cupos: 
								span {{data.front.enrollment.quantity}}
							div
								span(class="label-span") Monto Total: 
								span Bs {{data.front.total}}
						div(class="title")
							div(class="col-md-6 col-xs-12")
								div(class="subtitle") Seleccione un tipo de pago
								md-radio-group(class="type_payment")
									div(class="type")
										md-radio-button(style="clear: both" ng-click="data.front.type_payment.select('transf')" value="transf" class="md-primary") Transferencia o Deposito
									div(class="type")
										md-radio-button(style="clear: both" value="tdc" class="md-primary" ng-click="data.front.type_payment.select('tdc')") Pago con Tarjeta de Credito
							div(class="col-md-6 col-xs-12")
								div(class="cuenta" ng-if="data.front.type_payment.type=='transf'")
									div(class="subtitle") Cuenta bancaria a depositar o transferir
									div
										span(class="label-span") Numero de Cuenta: 
										span XXXX-XXX-XX-XXXXXXXXXXX
									div
										span(class="label-span") Entidad bancaria: 
										span XXXXXXXXXXX
									div
										span(class="label-span") Nombre titular: 
										span XXXXXXX XXXXXXXXXX
									div
										span(class="label-span") Identificacion: 
										span V-XXXXXXX
									div
										span(class="label-span") Correo electronico: 
										span xxxxxxxxx@xxxxxx.com
									div
										span(class="label-span") Razon de pago: 
										span XXXXXXXXXXXXXXXXXXXXXXX
									div(class="botones")
										div(class="boton")
											md-button(class="md-raised md-primary boton" ng-click="data.front.payment.transf.next()") Siguiente
										div(class="boton")
											md-button(class="md-raised boton" ng-click="data.front.payment.transf.form.cancel()") Cancelar
								div(class="tdc" ng-if="data.front.type_payment.type=='tdc'")
									div(class="subtitle") Utiliza la plataforma de pago
									form(id="pay" class="form-login")
										md-input-container(class="md-block")
											input(id="email" name="email" type="email" placeholder="Correo electrónico" style="width: 90%" ng-model="data.front.form.fields.email.value")
										div(class="tipoTDC" id="{{data.front.form.fields.type_tdc.id}}")
											img(src="/images/visa.png" ng-class="data.front.form.fields.type_tdc.value=='visa' ? 'active': ''" ng-click="data.front.form.fields.type_tdc.value='visa'")
											img(src="/images/mastercard.jpeg" ng-class="data.front.form.fields.type_tdc.value=='master' ? 'active': ''" ng-click="data.front.form.fields.type_tdc.value='master'")
										md-input-container(class="md-block")
											input(type="text" placeholder="Numero Tarjeta de Credito" id="cardNumber" data-checkout="cardNumber" ng-model="data.front.form.fields.number_card.value" style="width: 90%" maxlength="16")
										div(class="credit")
											md-input-container(class="md-block cvv")
												input(type="text" placeholder="CVV" id="securityCode" data-checkout="securityCode" style="width: 90%" ng-model="data.front.form.fields.cvv.value" maxlength="3")
											md-input-container(class="md-block mes")
												input(type="text" placeholder="Mes Vencimiento" id="cardExpirationMonth" ng-model="data.front.form.fields.mes.value" data-checkout="cardExpirationMonth" style="width: 90%" maxlength="2")
											md-input-container(class="md-block ano")
												input(type="text" placeholder="Año Vencimiento" id="cardExpirationYear" data-checkout="cardExpirationYear" ng-model="data.front.form.fields.ano.value" style="width: 90%" maxlength="4")
										md-input-container(class="md-block")
											input(type="text" ng-model="data.front.form.fields.name.value" placeholder="Nombre Titular" id="cardholderName" data-checkout="cardholderName" style="width: 90%")
										div(class="identificacion")
											md-input-container(class="md-block tipo")
												label Tipo
												select(id="docType" data-checkout="docType")
											md-input-container(class="md-block numero")
												input(type="text" ng-model="data.front.form.fields.identificacion.value" placeholder="Identificacion" id="docNumber" data-checkout="docNumber" style="width: 90%")
										
										md-button(class="md-raised md-primary boton" ng-click="data.front.form.submit()") Enviar
										button(class="hidden")
				div(class="panoramicCoursePic")
				div(class="dataContainerDetailCourse")
						div(class="col-md-4 infoMain")
							div(class="dataShortContainer")
								i(class="material-icons") event_note
								div(class="dateCourse") Inicia el {{data.front.enrollment.period.schedule[0].date | date: "EEEE, d 'de' MMMM hh':'mm a" }}
								div(class="dateCourse") Termina el {{data.front.enrollment.period.schedule[0].date | date: "EEEE, d 'de' MMMM hh':'mm a"}}
							md-divider
							div(class="dataShortContainer")
								i(class="material-icons") place
								div(class="dateCourse") {{data.front.enrollment.period.address}}
							md-divider
							div(class="dataShortContainer")
								i(class="material-icons") attach_money
								div(class="dateCourse") {{data.front.enrollment.period.cost}} Bsf
							md-divider
							div(class="dataShortContainer")
								img(src="{{data.front.course.teacher.photo}}" style="width: 32px;border-radius: 50%;height: 32px;")
								div(class="dateCourse nameTeacher") {{data.front.enrollment.period.teacher.name}} {{data.front.enrollment.period.teacher.lastname}} 
								a(href="#")  ver perfil
								div(class="dataTeacher")
									div(class="categories" style="padding-left: 30px;")
										div( class="category" ng-repeat="element in ddata.front.enrollment.period.teacher.categories") 
											md-tooltip(md-direction="bottom") {{element.category.name}} 
											i(class="material-icons") {{element.category.icon}} 
						div(class="col-md-8 infoGeneral")
							h1(class="titleCourse") {{data.front.enrollment.period.course.name}}
							div(class="categoriesCourse")
								div(class="category" ng-repeat="element in data.front.enrollment.period.course.categories")
									md-tooltip(md-direction="bottom") {{element.category.name}}
									i(class="material-icons") {{element.category.icon}} 
							div(class="containerTextCourse descriptionCourse")
								div(class="title") Descripción del curso
								div(class="texto")
							div(class="containerTextCourse materialsCourse")
								div(class="title") ¿Qué se lleva el estudiante?
								div(class="texto")
							div(class="containerTextCourse whoCourse")
								div(class="title") ¿A quién está dirigido?
								div(class="texto")
							div(class="containerTextCourse systemCourse")
								div(class="title") Metodología
								div(class="texto")
							div(class="containerTextCourse referecesCourse")
								div(class="title") Recomendaciones
								div(class="texto")
		section(class="view",id="course",ng-if="data.views.course.active",ng-class="data.views.course.active ? 'fadeInFromTop' : ''")
			div(ng-controller="courseDetailPrivate"  class="col-md-12 detailCourseArea col-xs-12")
				div(class="form-load" ng-if="data.front.upload_file.load")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="form-load" ng-if="data.front.ratings.window.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				div(class="form-load" ng-if="data.front.certificado.load")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				
				div(class="modal-upload " ng-if="data.front.upload_file.show")
					div(class="backScreen-files" ng-click="data.front.upload_file.close()")
					div(class="content")
						div(class="types_files")
							div(class="title-files") Archivos permitidos
							div
								span(ng-repeat="element in data.front.type_files.elements")
									img(src="{{element.icon}}")
						md-progress-linear(md-mode="indeterminate" ng-if="data.front.upload_file.active")
						
						input(type="file",class="hidden" id="{{data.front.upload_file.id}}",position="{{$index}}",onchange="angular.element(this).scope().data.front.upload_file.upload(this.files)")
						div(class="button" ng-click="data.front.upload_file.change()" ng-if="data.front.upload_file.value.length<1 && !data.front.upload_file.active")
							i(class="material-icons") cloud_upload
							span Adjuntar archivo
						div(class="info-file" ng-if="data.front.upload_file.value.length>0")
							div(class="info")
								span(class="izq")
									div(class="icon")
										img(src="{{data.front.upload_file.value[0].icon}}")
									div(class="text")
										span {{data.front.upload_file.value[0].name}} <br>
										span {{data.front.upload_file.calc_size(data.front.upload_file.value[0].size)}}
								span(class="borrar" ng-click="data.front.upload_file.value[0].remove(0)")
									i(class="material-icons") delete
							div(class="button upl" ng-click="data.front.upload_file.save_file()") Subir al servidor
				div(class="areaDesktop" ng-if="data.front.width >= 981")
					div(class="backscreenRating" ng-if="data.front.ratings.window.visible" ng-click="data.front.ratings.window.close()")
					div(class="modalRating" ng-if="data.front.ratings.window.visible" id="{{data.front.ratings.window.id}}")
						div(class="content-modal")
							div(class="stars")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 1 || data.front.ratings.window.rating.value == 2 || data.front.ratings.window.rating.value == 3 || data.front.ratings.window.rating.value == 4 || data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 1 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 1")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 2 || data.front.ratings.window.rating.value == 3 || data.front.ratings.window.rating.value == 4 || data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 2 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 2")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 3 || data.front.ratings.window.rating.value == 4 || data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 3 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 3")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 4 || data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 4 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 4")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 5 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 5")
							md-input-container(class="md-block")
								textarea(rows="4" id="{{data.front.ratings.window.comentary.id}}" ng-model="data.front.ratings.window.comentary.value" placeholder="Dejanos tu comentario" style="width: 100%")
							div(class="line-separator")
							md-button(class="md-raised md-primary boton" ng-click="data.front.ratings.window.submit()") Guardar
									
					div(class="panoramicCoursePic")
					div(class="zone-rating" ng-if="data.front.user.student && (data.front.course.state=='feedback' || data.front.course.state=='finish') && !data.front.course.rankeado")
						div(class="msg") Ha terminado el curso. Califica y obten tu certificado!
						button(type="button" class="md-raised md-primary md-button md-ink-ripple" ng-click="data.front.ratings.window.show()")
							i(class="material-icons") star
							span Calificar curso
					
					div(class="zone-certificado" ng-if="data.front.user.student && (data.front.course.state=='feedback' || data.front.course.state=='finish') && data.front.course.rankeado")
						div(class="msg") Obten tu certificado!
						button(type="button" class="md-raised md-primary md-button md-ink-ripple" ng-click="data.front.certificado.active=true")
							i(class="fa fa-certificate")
							span Ver certificado
					div(class="backscreenRating" ng-if="data.front.certificado.active" ng-click="data.front.certificado.active=false")
					div(class="modal-certificado" ng-class="data.front.certificado.active ? 'visible' : 'novisible'")
						div(id="certificado" class="certificado" style="width:1120px;")
							div(style="background:url(/images/fondo-certificado.jpg); background-size: 100% 100%; background-repeat: no-repeat; padding-top:70px; padding-bottom:75px;")
								img(src="/images/logo-certificado.png" style="width: 250px; margin: 0px auto; display: block; padding-bottom:5px;")
								div(style="text-align: center")
									span --------------------------
									span CERTIFICA A 
									span --------------------------
								div(style="font-size:35px; width:300px; text-align:center; margin:0px auto; margin-top:20px;") {{data.front.user.name}} {{data.front.user.lastname}}
								div(style="width:300px; text-align:center; margin:0px auto; margin-top:20px; color:#EB4739;") POR HABER COMPLETADO EN LA MODALIDAD DE CURSO PRESENCIAL
								div(style="width:500px; height:1px; background:black; margin:20px auto 5px auto;")
								div(style="text-align:center; margin:0px auto; font-size:30px;") {{data.front.course.course.name}}
								div(style="width:500px; height:1px; background:black; margin:5px auto 20px auto;") 
								div(style="text-align:center; color:#EB4739;") {{data.front.certificado.dias();}}
								div(style="display:table; width:90%; margin:10px auto")
									div(style="display:table-cell; width:33.333333%; text-align:center")
										img(src="/images/Firma-Juan-Colmenarez.jpg" width="200" style="margin:0px auto")
										div(style="width:80%; margin:0px auto; height:2px; background:black;")
										div PROFESOR
										span(style="font-size:12px") Reinaldo Valbuena.
									div(style="display:table-cell; width:33.333333%; text-align:center")
										img(src="/images/firma_hugo_di__az-01.png" width="80" style="margin:0px auto -12px auto")
										div(style="width:80%; margin:0px auto; height:2px; background:black;")
										div DIRECTOR REGIONAL
										span(style="font-size:12px") Francisco Hernandez.
									div(style="display:table-cell; width:33.333333%; text-align:center")
										img(src="/images/Firma-Juan-Colmenarez.jpg" width="200" style="margin:0px auto")
										div(style="width:80%; margin:0px auto; height:2px; background:black;")
										div DIRECTOR ACADEMICO
										span(style="font-size:12px") Carlos H Brandt.
						button(type="button" class="md-raised md-primary md-button md-ink-ripple" ng-click="data.front.certificado.submit()")
							i(class="material-icons") cloud_download
							span Descargar certificado
					div(class="btnAddCourse" ng-if="!data.front.seeChat && data.front.user.student")
						md-button( class="md-fab" ng-href="/Course/Private/Enrollment/{{data.front.course.id}}")
							i(class="material-icons") add
					div(class="dataContainerDetailCourse")
						div(class="col-md-4 infoMain")
							div(class="dataShortContainer")
								i(class="material-icons") event_note
								div(class="dateCourse") Inicia el {{data.front.course.schedule[0].hour_init | date: "EEEE, d 'de' MMMM hh':'mm a"}}
								div(class="dateCourse") Termina el {{data.front.course.schedule[data.front.course.schedule.length-1].hour_finish | date: "EEEE, d 'de' MMMM hh':'mm a"}}
							md-divider
							div(class="dataShortContainer")
								i(class="material-icons") place
								div(class="dateCourse") {{data.front.course.address}}
							md-divider
							div(class="dataShortContainer")
								i(class="material-icons") attach_money
								div(class="dateCourse") {{data.front.course.cost}} Bsf
							md-divider
							div(class="dataShortContainer")
								img(src="{{data.front.course.teacher.photo}}" style="width: 32px;border-radius: 50%;height: 32px;")
								div(class="dateCourse nameTeacher") {{data.front.course.teacher.name}} {{data.front.course.teacher.lastname}} 
								a(href="#")  ver perfil
								div(class="dataTeacher")
									div(class="categories" style="padding-left: 30px;")

										div( class="category" ng-repeat="element in data.front.course.teacher.categories") 
											md-tooltip(md-direction="bottom") {{element.category.name}} 
											i(class="material-icons") {{element.category.icon}} 
							md-divider
							div(class="dataShortContainer")
								div(class="iconTitleStudents")
									i(class="material-icons") account_circle
									div(class="dateCourse") Estudiantes en el curso
								div(class="picsStudents")
									div(class="studentsCoruse" ng-repeat="element in data.front.studensList")
										md-tooltip(md-direction="top") {{element.username}}
										img(src="{{element.photo}}")
							md-divider
							div(class="dataShortContainer files")
								div(class="iconTitleStudents")
									i(class="material-icons") attach_file
									div(class="dateCourse") Archivos del curso
									md-button(class="md-fab md-mini md-primary new" ng-click="data.front.upload_file.show=true;" ng-if="data.front.user.teacher")
										md-icon(class="material-icons") cloud_upload
								div(class="content-list")
									div(class="empty" ng-if="data.front.files_period.elements.length<1") No hay archivos subidos
									div(class="file" ng-repeat="element in data.front.files_period.elements")
										div(class="icon")
											img(src="{{element.file.icon}}")
										div(class="info")
											a(href="{{element.file.url}}" download="{{element.file.name}}" class="title") {{element.file.name}} <br>
											span {{data.front.upload_file.calc_size(element.file.size)}}
										a(href="{{element.file.url}}" download="{{element.file.name}}" class="btn-download") Download
						div(class="col-md-8 infoGeneral")
							h1(class="titleCourse") {{data.front.course.course.name}}
							div(class="categoriesCourse")
								div(class="category" ng-repeat="element in data.front.course.course.categories")
									md-tooltip(md-direction="bottom") {{element.category.name}}
									i(class="material-icons") {{element.category.icon}} 
								div(class="rating")
									i(class="material-icons" ng-if="data.front.course.rating>=1") star
									i(class="material-icons" ng-if="data.front.course.rating<1") star_border
									i(class="material-icons" ng-if="data.front.course.rating>=2") star
									i(class="material-icons" ng-if="data.front.course.rating<2") star_border
									i(class="material-icons" ng-if="data.front.course.rating>=3") star
									i(class="material-icons" ng-if="data.front.course.rating<3") star_border
									i(class="material-icons" ng-if="data.front.course.rating>=4") star
									i(class="material-icons" ng-if="data.front.course.rating<4") star_border
									i(class="material-icons" ng-if="data.front.course.rating==5") star
									i(class="material-icons" ng-if="data.front.course.rating<5") star_border
									span(class="users")
										i(class="cant") {{data.front.course.count}}
										i(class="material-icons") person
							div(class="containerTextCourse descriptionCourse")
								div(class="title") Descripción del curso
								div(class="texto")
							div(class="containerTextCourse materialsCourse")
								div(class="title") ¿Qué se lleva el estudiante?
								div(class="texto")
							div(class="containerTextCourse whoCourse")
								div(class="title") ¿A quién está dirigido?
								div(class="texto")
							div(class="containerTextCourse systemCourse")
								div(class="title") Metodología
								div(class="texto")
							div(class="containerTextCourse referecesCourse")
								div(class="title") Recomendaciones
								div(class="texto")
					div(class="col-md-12 chatArea" ng-if="data.front.course.state!='active'")
							simple-chat(ng-if="data.front.seeChat || data.front.user.id == data.front.course.teacher.id" data="data")
				div(class="areaMobile col-xs-12" ng-if="data.front.width < 981")
					div(class="backscreenRating" ng-if="data.front.ratings.window.visible" ng-click="data.front.ratings.window.close()")
					div(class="modalRating" ng-if="data.front.ratings.window.visible" id="{{data.front.ratings.window.id}}")
						div(class="content-modal")
							div(class="stars")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 1 || data.front.ratings.window.rating.value == 2 || data.front.ratings.window.rating.value == 3 || data.front.ratings.window.rating.value == 4 || data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 1 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 1")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 2 || data.front.ratings.window.rating.value == 3 || data.front.ratings.window.rating.value == 4 || data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 2 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 2")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 3 || data.front.ratings.window.rating.value == 4 || data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 3 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 3")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 4 || data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 4 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 4")
								i(style="cursor:pointer;",ng-class="data.front.ratings.window.rating.value == 5 ? 'fa fa-star' : 'fa fa-star-o'",ng-mouseover="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 5 : false",ng-mouseleave="!data.front.ratings.window.rating.active ? data.front.ratings.window.rating.value = 0 : false",ng-click="data.front.ratings.window.rating.active = true; data.front.ratings.window.rating.value = 5")
							md-input-container(class="md-block")
								textarea(rows="4" id="{{data.front.ratings.window.comentary.id}}" ng-model="data.front.ratings.window.comentary.value" placeholder="Dejanos tu comentario" style="width: 100%")
							div(class="line-separator")
							md-button(class="md-raised md-primary boton" ng-click="data.front.ratings.window.submit()") Guardar
					div(class="panoramicCoursePicMobile" ng-if="!data.front.seeChatMobile && !data.front.seeStudentsMobile && !data.front.seeUploadMobile")
					div(class="zone-rating" ng-if="data.front.user.student && (data.front.course.state=='feedback' || data.front.course.state=='finish') && !data.front.course.rankeado")
						div(class="msg") Ha terminado el curso. Califica y obten tu certificado!
						button(type="button" class="md-raised md-primary md-button md-ink-ripple" ng-click="data.front.ratings.window.show()")
							i(class="material-icons") star
							span Calificar curso
					
					md-fab-speed-dial(md-open="data.front.menu.open" ng-direction="data.front.menu.direction" ng-class="data.front.menu.class" ng-if="data.front.seeChat && !data.front.seeChatMobile && !data.front.seeStudentsMobile || data.front.user.id == data.front.course.teacher.id && !data.front.seeChatMobile && !data.front.seeStudentsMobile || !data.front.seeChatMobile && data.front.user.student && !data.front.seeChat && !data.front.seeStudentsMobile" class="optionMobileDetail")
						md-fab-trigger
							md-button(aria-label="menu" class="md-fab")
								md-icon(class="material-icons") more_vert
						md-fab-actions
							md-button(class="md-fab md-raised md-mini" ng-if="data.front.seeChat && !data.front.seeChatMobile || data.front.user.id == data.front.course.teacher.id && !data.front.seeChatMobile" ng-click="data.front.actionsMobile.seeChat()"  md-colors="{background: 'deep-purple'}")
								i(class="material-icons") chat_bubble
							md-button(class="md-fab md-raised md-mini" ng-if="!data.front.seeUploadMobile" ng-click="data.front.actionsMobile.seeUpload()"  md-colors="{background: 'deep-purple'}")
								i(class="material-icons") attach_file
							md-button(class="md-fab md-raised md-mini" ng-click="data.front.actionsMobile.seeStudents()"  md-colors="{background: 'deep-purple'}")
								i(class="material-icons") account_circle
							md-button(class="md-fab md-raised md-mini" aria-label="Chat" ng-if="!data.front.seeChat && data.front.user.student && !data.front.seeChatMobile"  md-colors="{background: 'deep-purple'}" ng-href="/Course/Private/Enrollment/{{data.front.course.id}}")
								i(class="material-icons") add		
					h1(class="titleCourse mobileTitle" ng-if="!data.front.seeChatMobile && !data.front.seeStudentsMobile") {{data.front.course.course.name}}
					div(class="rating")
						i(class="material-icons" ng-if="data.front.course.rating>=1") star
						i(class="material-icons" ng-if="data.front.course.rating<1") star_border
						i(class="material-icons" ng-if="data.front.course.rating>=2") star
						i(class="material-icons" ng-if="data.front.course.rating<2") star_border
						i(class="material-icons" ng-if="data.front.course.rating>=3") star
						i(class="material-icons" ng-if="data.front.course.rating<3") star_border
						i(class="material-icons" ng-if="data.front.course.rating>=4") star
						i(class="material-icons" ng-if="data.front.course.rating<4") star_border
						i(class="material-icons" ng-if="data.front.course.rating==5") star
						i(class="material-icons" ng-if="data.front.course.rating<5") star_border
						span(class="users")
							i(class="cant") {{data.front.course.count}}
							i(class="material-icons") person
					div(class="areaInfoCourse" ng-if="!data.front.seeChatMobile && !data.front.seeStudentsMobile && !data.front.seeUploadMobile")
						div(class="dataShortContainer")
							div(class="floatIcon")
								i(class="material-icons") description
							div(class="dateCourse")
								div(class="containerTextCourse descriptionCourse")
									div(class="title")
										div(class="texto")
						md-divider
						div(class="dataShortContainer")
							div(class="floatIcon")
								i(class="material-icons") event_note
							div(class="dateCourse") Inicia el {{data.front.course.schedule[0].hour_init | date: "EEEE, d 'de' MMMM hh':'mm a"}}
							div(class="dateCourse") Termina el {{data.front.course.schedule[data.front.course.schedule.length-1].hour_finish | date: "EEEE, d 'de' MMMM hh':'mm a"}}
						md-divider
						div(class="dataShortContainer")
							div(class="floatIcon")
								i(class="material-icons") place
							div(class="dateCourse") {{data.front.course.address}}
						md-divider
						div(class="dataShortContainer")
							div(class="floatIcon")
								i(class="material-icons") attach_money
							div(class="dateCourse") {{data.front.course.cost}} Bsf

						md-divider
						div(class="dataShortContainer")
							div(class="floatIcon")
								img(src="{{data.front.course.teacher.photo}}" style="width: 32px;border-radius: 50%;height: 32px;")
							div(class="dateCourse nameTeacher") {{data.front.course.teacher.name}} {{data.front.course.teacher.lastname}} 
							a(href="#")  ver perfil
							div(class="dataTeacher")
								div(class="categories")
									div( class="category" ng-repeat="element in data.front.course.teacher.categories") 
										md-tooltip(md-direction="bottom") {{element.category.name}} 
										i(class="material-icons") {{element.category.icon}} 
						md-divider
						div(class="dataShortContainer")
							div(class="floatIcon")
								i(class="material-icons") sentiment_very_satisfied
							div(class="dateCourse")
								div(class="containerTextCourse materialsCourse")
									div(class="title") ¿Qué se lleva el estudiante?
									div(class="texto")
						md-divider
						div(class="dataShortContainer")
							div(class="floatIcon")
								i(class="material-icons") local_library
							div(class="dateCourse")
								div(class="containerTextCourse whoCourse")
									div(class="title") ¿A quién está dirigido?
									div(class="texto")
						md-divider
						div(class="dataShortContainer")
							div(class="floatIcon")
								i(class="material-icons") folder_special
							div(class="dateCourse")
								div(class="containerTextCourse systemCourse")
									div(class="title") Metodología
									div(class="texto")
						md-divider
						div(class="dataShortContainer")
							div(class="floatIcon")
								i(class="material-icons") local_library
							div(class="dateCourse")
								div(class="containerTextCourse referecesCourse")
									div(class="title") Recomendaciones
									div(class="texto")
					div(class="areaChatCourse" ng-if="data.front.seeChatMobile && data.front.course.state!='active'")
						div(class="col-md-12 chatArea")
							simple-chat(ng-if="data.front.seeChat || data.front.user.id == data.front.course.teacher.id" data="data")
					div(class="areaAsistant" ng-if="data.front.seeStudentsMobile")
						div(class="HeaderStudents")
							md-toolbar( layout="row" class="md-hue-3 toolbar-students" style="background-color: #70236b; color: #FFF;")
								div( class="md-toolbar-tools")
									div(class="mobileBtn btnInfoList" ng-if="data.front.seeStudentsMobile" ng-click="data.front.actionsMobile.outStudents()")
										i(class="material-icons cat_students") arrow_back
									span Estudiantes del curso
									
						div(class="listStudents")
							md-list(class="md-dense lisstudents" flex)
								md-list-item( class="md-3-line" ng-repeat="element in data.front.studensList")
									a(href="")
										img(ng-src="{{element.photo}}" class="md-avatar" alt="{{element.username}}" style="margin-top: -40px;")
										div(class="md-list-item-text name-area-list" layout="column") 
											span {{element.name}} {{element.lastname}}
											div(class="categories")
												div( class="category"  style="display: inline-block;" ng-repeat="cat in element.categories_student") 
													i(class="material-icons cat_students") {{cat.category.icon}}
									md-divider
					div(class="areaUpload" ng-if="data.front.seeUploadMobile")
						div(class="HeaderUpload")
							md-toolbar( layout="row" class="md-hue-3 toolbar-students" style="background-color: #70236b; color: #FFF;")
								div( class="md-toolbar-tools")
									div(class="mobileBtn btnInfoList" ng-if="data.front.seeUploadMobile" ng-click="data.front.actionsMobile.outUpload()")
										i(class="material-icons cat_students") arrow_back
									span Archivos del curso
						div(class="listFiles")
							md-list(class="md-dense lisstudents" flex)
								md-list-item(class="empty" ng-if="data.front.files_period.elements.length<1") No hay archivos subidos
								md-list-item(class="file md-3-line" ng-repeat="element in data.front.files_period.elements")
									div(class="icon")
										img(src="{{element.file.icon}}")
									div(class="info")
										a(href="{{element.file.url}}" download="{{element.file.name}}" class="title") {{element.file.name}} <br>
										span {{data.front.upload_file.calc_size(element.file.size)}}
									a(href="{{element.file.url}}" download="{{element.file.name}}" class="btn-download")
										i(class="material-icons") cloud_download
						div(class="btnAddCourse" ng-if="data.front.seeUploadMobile && data.front.user.teacher")
							md-button( class="md-fab" ng-click="data.front.upload_file.show=true;")
								i(class="material-icons") backup
		section(class="view" id="invitation" ng-if="data.views.invitation.active",ng-class="data.views.invitation.active ? 'fadeInFromTop' : ''")
			div(ng-controller="invitationEnrollment" class="col-md-12 detailCourseArea col-xs-12")
				div(class="modalPayment")
					div(class="containerPayment")
						div(class="title") Comparte tus cupos comprados
						div(class="correos")
							div(class="correo")
								md-input-container(class="md-block" ng-repeat="element in data.front.emails")
									input(type="email" id="{{element.id}}" placeholder="Correo electrónico a invitar" style="width: 90%" ng-model="element.value")
								md-button(class="md-raised md-primary boton" ng-click="data.front.submit()") Compartir
								button(class="hidden")
				div(class="panoramicCoursePic")
				div(class="dataContainerDetailCourse")
						div(class="col-md-4 infoMain")
							div(class="dataShortContainer")
								i(class="material-icons") event_note
								div(class="dateCourse") Inicia el {{data.front.enrollment.period.schedule[0].date | date: "EEEE, d 'de' MMMM hh':'mm a"}}
								div(class="dateCourse") Termina el {{data.front.enrollment.period.schedule[0].date | date: "EEEE, d 'de' MMMM hh':'mm a"}}
							md-divider
							div(class="dataShortContainer")
								i(class="material-icons") place
								div(class="dateCourse") {{data.front.enrollment.period.address}}

							md-divider
							div(class="dataShortContainer")
								i(class="material-icons") attach_money
								div(class="dateCourse") {{data.front.enrollment.period.cost}} Bsf

							md-divider
							div(class="dataShortContainer")
								img(src="{{data.front.course.teacher.photo}}" style="width: 32px;border-radius: 50%;height: 32px;")
								div(class="dateCourse nameTeacher") {{data.front.enrollment.period.teacher.name}} {{data.front.enrollment.period.teacher.lastname}} 
								a(href="#")  ver perfil
								div(class="dataTeacher")
									div(class="categories" style="padding-left: 30px;")

										div( class="category" ng-repeat="element in ddata.front.enrollment.period.teacher.categories") 
											md-tooltip(md-direction="bottom") {{element.category.name}} 
											i(class="material-icons") {{element.category.icon}} 			
						div(class="col-md-8 infoGeneral")
							h1(class="titleCourse") {{data.front.enrollment.period.course.name}}
							div(class="categoriesCourse")
								div(class="category" ng-repeat="element in data.front.enrollment.period.course.categories")
									md-tooltip(md-direction="bottom") {{element.category.name}}
									i(class="material-icons") {{element.category.icon}} 
							div(class="containerTextCourse descriptionCourse")
								div(class="title") Descripción del curso
								div(class="texto")
							div(class="containerTextCourse materialsCourse")
								div(class="title") ¿Qué se lleva el estudiante?
								div(class="texto")
							div(class="containerTextCourse whoCourse")
								div(class="title") ¿A quién está dirigido?
								div(class="texto")
							div(class="containerTextCourse systemCourse")
								div(class="title") Metodología
								div(class="texto")
							div(class="containerTextCourse referecesCourse")
								div(class="title") Recomendaciones
								div(class="texto")
		section(class="view" id="my_profile" ng-if="data.views.my_profile.active")
			div(ng-controller="myProfile")
				div(class="form-load" ng-if="data.front.active")
					i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw")
				md-tabs(md-stretch-tabs="never" class="coursesList" reverse-style="true" md-dynamic-height)
					md-tab(class="tab-item-courses md-subhead")
						md-tab-label(class="md-subhead labelTab") Mi Perfil
						md-tab-body
							md-content
								div(class="lock-size" layout="row" layout-align="center center" class="button-logout")
									md-fab-speed-dial(md-open="data.front.menu.open" ng-direction="data.front.menu.direction" ng-class="data.front.menu.class" )
										md-fab-trigger
											md-button(aria-label="menu" class="md-fab md-warn")
												md-icon(class="material-icons") more_vert
										md-fab-actions
											md-button(class="md-fab md-raised md-mini" ng-click="data.front.logout()")
												md-icon(class="material-icons") exit_to_app
											md-button(class="md-fab md-raised md-mini" ng-click="data.front.edit_profile.form.open()" ng-if="!data.front.edit_profile.edit")
												md-icon(class="material-icons") create
								div(class="informacion col-md-6 col-md-push-3")
									div(class="fondo")
										div(class="title") Mi Perfil
									div(class="fondo2")
										img(class="image" src="{{data.front.user.photo}}" ng-if="!data.front.edit_profile.edit")
										div(class="image-update" style="display:none")
											input(type="file",class="hidden",id="{{data.front.edit_profile.form.fields.photo.id}}",position="{{$index}}",onchange="angular.element(this).scope().data.front.edit_profile.form.fields.photo.upload(this.files)")
											div( ng-repeat="image in data.front.edit_profile.form.fields.photo.value")
												div(class="image" style="background-image: url({{image.value}})" ng-mouseover="image.mouseover = true",ng-mouseleave="image.mouseover = false")
													div(class="deleteContainer",ng-click="data.front.edit_profile.form.fields.photo.changeImage()")
														span
															i(class="fa fa-camera icon")
										div(class="datos")
											div(class="data iconos" ng-if="data.front.user.student && !data.front.edit_profile.edit")
												span(class="icono" ng-repeat="element in data.front.user.categories_student")
													i(class="material-icons") {{element.category.icon}}
											div(class="data iconos" ng-if="data.front.user.teacher && !data.front.edit_profile.edit")
												span(class="icono" ng-repeat="element in data.front.user.categories_teacher")
													i(class="material-icons") {{element.category.icon}}
											div(class="coin data")
												span
													img(src="../images/design/coin.png")
												label(class="info")  {{data.front.user.coins}} BloxiCoins
											
											div(class="data")
												label(class="label_title") Nombre
												<br>
												label(class="info") {{data.front.user.name}}
											div(class="data")
												label(class="label_title") Apellido
												<br>
												label(class="info") {{data.front.user.lastname}}
											div(class="data")
												label(class="label_title") Correo electronico 
												<br>
												label(class="info") {{data.front.user.email}}
											div(class="data" ng-if="data.front.user.cedula!='' && data.front.user.cedula!=null")
												label(class="label_title") cedula
												<br>
												label(class="info") {{data.front.user.cedula}}
											div(class="data" ng-if="data.front.user.rif!='' && data.front.user.rif!=null")
												label(class="label_title") RIF
												<br>
												label(class="info") {{data.front.user.rif}}
											div(class="data" ng-if="!data.front.edit_profile.edit")
												label(class="label_title") Telefono 
												<br>
												label(class="info") {{data.front.user.phone}}
											div(class="data" ng-if="!data.front.edit_profile.edit")
												label(class="label_title") Fecha de nacimeinto 
												<br>
												label(class="info") {{data.front.user.birthdate | date: "dd/MM/yyyy"}}
											div(class="data" ng-if="!data.front.edit_profile.edit")
												label(class="label_title") Acerca de mi
												<br>
												label(class="info") {{data.front.user.comentary}}
											div(class="separate" ng-if="data.front.edit_profile.edit")
											div(class="data" ng-if="data.front.edit_profile.edit")
												md-input-container(class="md-block")
													input(type="text" id="{{data.front.edit_profile.form.fields.phone.id}}" ng-model="data.front.edit_profile.form.fields.phone.value" placeholder="Telefono" style="width: 90%")
											div(class="separate" ng-if="data.front.edit_profile.edit")
											div(class="data" ng-if="data.front.edit_profile.edit")
												md-input-container(class="md-block")
													input(mdc-datetime-picker="" date="true" time="false" type="text" id="{{data.front.edit_profile.form.fields.birthdate.id}}" placeholder="Fecha de nacimiento" ng-model="data.front.edit_profile.form.fields.birthdate.value" class=" md-input" readonly="readonly")
												
											div(class="data" ng-if="data.front.edit_profile.edit")
												md-input-container(class="md-block")
													textarea(id="{{data.front.edit_profile.form.fields.comentary.id}}" ng-model="data.front.edit_profile.form.fields.comentary.value" placeholder="Acerca de mi" style="width: 90%" rows="3")
											div(class="botones" ng-if="data.front.edit_profile.edit")
												div(class="boton")
													md-button(class="md-raised md-primary boton" ng-click="data.front.edit_profile.form.submit()") Guardar
												div(class="boton")
													md-button(class="md-raised boton" ng-click="data.front.edit_profile.edit=false") Cancelar
					md-tab(class="tab-item-courses md-subhead")
						md-tab-label(class="md-subhead labelTab") Cambiar Contraseña
						md-tab-body
							md-content
								div(class="col-xs-12 col-md-4 col-md-push-4")
									form(ng-submit="data.front.change_password.form.submit()")
										md-input-container(class="md-block")
											input(type="password" id="{{data.front.change_password.form.fields.password.id}}" ng-model="data.front.change_password.form.fields.actualPassword.value" placeholder="Contraseña actual" style="width: 90%")
										md-input-container(class="md-block")
											input(type="password" id="{{data.front.change_password.form.fields.repassword.id}}" ng-model="data.front.change_password.form.fields.newPassword.value" placeholder="Nueva contraseña" style="width: 90%")
										md-input-container(class="md-block")
											input(type="password" id="{{data.front.change_password.form.fields.repassword.id}}" ng-model="data.front.change_password.form.fields.newPasswordRepeat.value" placeholder="Repetir nueva contraseña" style="width: 90%")
										md-button(class="md-raised md-primary boton" ng-click="data.front.change_password.form.submit()") Cambiar
										button(class="hidden")
		section(class="view",id="enrollment_course",ng-if="data.views.enrollment_course.active",ng-class="data.views.enrollment_course.active ? 'fadeInFromTop' : ''")
			div(class="fullContainer" ng-controller="courseEnrollmentPrivate")
				div(class="containerData")
					div(class="areaCourse col-md-8 col-xs-12")
						div(class="titleGrid col-md-12 col-xs-12") Disfruta de tu curso ahora
						div(class="CourseEnrollment")
							div(class="imageCourseEnrollment col-md-12 col-xs-12 col-lg-12")
								img(ng-src="{{data.front.course.course.picture}}")
							div(class="titleCourseEnrollment") {{data.front.course.course.name}}
					div(class="areaPrice col-md-2 col-xs-12")
						div(class="titleGrid col-md-12 col-xs-12") Precio
						div(class="priceGrid") {{data.front.course.cost}} Bsf
					div(class="areaQuantity col-md-2 col-xs-12")
						div(class="titleGrid col-md-12 col-xs-12") Cupos
						div(class="inputNumber")
							md-input-container(class="md-block" style="padding-top: 30px;")
								input(type="text" id="data.front.form.fields.cupos.id" ng-model="data.front.form.fields.cupos.value" ng-change="data.front.get.total.submit()")
					div(class="actionsEnrollment col-md-12 col-xs-12")
						div(class="TotalPricer col-md-6 col-xs-12")
							div(class="payTotal") Total a pagar:  
								span(class="totalEnroll") {{data.front.total}} Bsf.
						div(class="actionEnrollment col-md-6 col-xs-12")
							md-button(ng-href="/Course/Private/{{data.front.course.id}}") cancelar
							md-button(class="md-raised md-primary md-button" ng-click="data.front.form.submit()") Proceder al pago
		section(class="view" id="accept_invitation" ng-if="data.views.accept_invitation.active",ng-class="data.views.accept_invitation.active ? 'fadeInFromTop' : ''")
			div(ng-controller="acceptInvitation" class="col-md-12 detailCourseArea col-xs-12")
				div(class="modalInvitation" ng-if="data.front.enrollment.validate==false")
					div(class="containerPayment")
						p Bienvenido {{data.front.user.name}}, procede a ingresar al curso. 
						div(class="md-raised md-button" ng-click="data.front.submit()") Aceptar
				div(class="modalInvitation" ng-if="data.front.enrollment.validate==true")
					div(class="containerPayment")
						p Ya haz aceptado la invitación previamente. 
						a(href="/Dashboard" class="md-raised md-button") Aceptar
				div(class="panoramicCoursePic")
				div(class="dataContainerDetailCourse")
						div(class="col-md-4 infoMain")
							div(class="dataShortContainer")
								i(class="material-icons") event_note
								div(class="dateCourse") Inicia el {{data.front.enrollment.period.schedule[0].date | date: "EEEE, d 'de' MMMM hh':'mm a"}}
								div(class="dateCourse") Termina el {{data.front.enrollment.period.schedule[0].date | date: "EEEE, d 'de' MMMM hh':'mm a"}}
							md-divider
							div(class="dataShortContainer")
								i(class="material-icons") place
								div(class="dateCourse") {{data.front.enrollment.period.address}}
							md-divider
							div(class="dataShortContainer")
								i(class="material-icons") attach_money
								div(class="dateCourse") {{data.front.enrollment.period.cost}} Bsf
							md-divider
							div(class="dataShortContainer")
								img(src="{{data.front.course.teacher.photo}}" style="width: 32px;border-radius: 50%;height: 32px;")
								div(class="dateCourse nameTeacher") {{data.front.enrollment.period.teacher.name}} {{data.front.enrollment.period.teacher.lastname}} 
								a(href="#")  ver perfil
								div(class="dataTeacher")
									div(class="categories" style="padding-left: 30px;")
										div( class="category" ng-repeat="element in ddata.front.enrollment.period.teacher.categories") 
											md-tooltip(md-direction="bottom") {{element.category.name}} 
											i(class="material-icons") {{element.category.icon}} 			
						div(class="col-md-8 infoGeneral")
							h1(class="titleCourse") {{data.front.enrollment.period.course.name}}
							div(class="categoriesCourse")
								div(class="category" ng-repeat="element in data.front.enrollment.period.course.categories")
									md-tooltip(md-direction="bottom") {{element.category.name}}
									i(class="material-icons") {{element.category.icon}} 
							div(class="containerTextCourse descriptionCourse")
								div(class="title") Descripción del curso
								div(class="texto")
							div(class="containerTextCourse materialsCourse")
								div(class="title") ¿Qué se lleva el estudiante?
								div(class="texto")
							div(class="containerTextCourse whoCourse")
								div(class="title") ¿A quién está dirigido?
								div(class="texto")
							div(class="containerTextCourse systemCourse")
								div(class="title") Metodología
								div(class="texto")
							div(class="containerTextCourse referecesCourse")
								div(class="title") Recomendaciones
								div(class="texto")
